---
# handlers file for ansible-nginx
- name: restart nginx
  action: service name=nginx state=restarted enabled=yes
  when: nginx_use_service|bool

- name: reload nginx
  action: service name=nginx state=reloaded
  when: nginx_use_service|bool